numpy==1.26.4
cython==0.29.36
fastapi
uvicorn
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
spacy-lookups-data==1.0.0